<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkatpL9D_LwaXcEmxHgqTs_QJZNgYIvPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>52862403129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.achaniEcommerceMobile</string>
	<key>PROJECT_ID</key>
	<string>achani-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>achani-ecommerce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52862403129:ios:7a0bd61619020098a183e8</string>
</dict>
</plist>